body {
    margin: 0;
    font-size: 28px;
    font-family: 'Manrope', Arial, sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.row {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-35 {
    width: 35%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;
}

.pt-15 {
    padding-top: 15%;
}

.menu {
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}

.logo {
    min-height: 1vh;
    max-height: 8vh;
}

img.logo {
    object-fit: contain;
}

.header {
    background-image: url("../images/header.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    text-align: center;
    margin: 12%;
    max-width: 70%;
    background: rgba(0, 0, 0, 0.3);
}

.header a, .title {
    color: white;
}

.header a:focus, .header a:hover {
    color: black;
}

.header a, .footer a {
    font-size: 1.2em;
    text-decoration-line: none;
    padding: 10px;
}

.footer a, .footer p {
    color: white;
}

.company, .service-title {
    text-align: center;
}

.about {
    align-items: center;
}

.about h2 {
    margin-bottom: 0;
}

.company-p {
    padding: 3% 5%;
}

.row-wrap {
    display: flex;
    flex-wrap: wrap;
}

.img-col {
    width: 40%;
    margin: 5%;
}

.slider {
    margin-right: 5%;
    margin-left: 5%;
}

.slider img {
    min-height: 40vh;
}

.services {
    font-size: 0.8em;
    padding: 3%;
    background-image: url("../images/work.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
    padding: 2% 20%;
}

.service {
    background: rgba(255, 255, 255, 0.5);
    padding: 5%;
    text-align: left;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon-service {
    width: 15%;
    margin-right: 2%;
}

.desc-service {
    margin-top: auto;
}

.footer {
    min-height: 10vh;
    background-color: black;
    padding: 5%;
    text-align: center;
}

.footer a {
    font-size: 2em;
    line-height: 2em;
}

@media screen and  (min-width: 820px) {
    .desktop-hidden {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    body {
        font-size: 20px;
    }

    .menu.row, .menu .row {
        align-items: center;
        justify-content: center;
    }

    .logo {
        margin: 5% 2%;
    }

    .header {
        background-size: cover;
    }

    .footer a {
        font-size: 1.5em;
        line-height: 3em;
    }

    .col-50, .col-40, .col-35, .col-30, .col-25 {
        width: 100%;
    }

    .row {
        flex-wrap: wrap;
    }

    .img-col {
        width: 80%;
    }

    .service {
        padding: 3%;
    }

    .icon-service {
        width: 20%;
        margin-right: 5px;
    }

    .wrap {
        padding: 3%;
    }

    .mobile-hidden {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .title {
        margin: 8%;
        max-width: 85%;
    }

    .about {
        margin-top: 15%;
    }
}
